doctype html
html
  head
    title Culinary Hub
    link(rel="stylesheet", href="/styles/style.css")
  body
    header
      h1 Culinary Hub
      nav
        a(href='/') Home
        a(href='/recipes') Recipes
        a(href='/recipes/new') Add Recipe
    block content
